alabaster==0.7.10
Babel==2.4.0
bibtexparser==0.6.2
click==6.7
cov-core==1.15.0
coverage==4.4.1
docutils==0.13.1
imagesize==0.7.1
Jinja2==2.9.6
MarkupSafe==1.0
nltk==3.2.3
numpy==1.12.1
py==1.4.33
pyenchant==1.6.8
Pygments==2.2.0
PyPDF2==1.26.0
pytest==3.0.7
pytest-cov==2.5.1
pytz==2017.2
requests==2.14.2
six==1.10.0
snowballstemmer==1.2.1
Sphinx==1.6.1
sphinxcontrib-websupport==1.0.1
SQLAlchemy==1.1.10
tabulate==0.7.7
tqdm==4.11.2
typing==3.6.1
