alembic==0.8.6
bibtexparser>=0.6.2
click>=6.2
cov-core>=1.15.0
coverage>=3.7.1
marshmallow>=2.4.2
nltk>=3.1
numpy>=1.10.4
psycopg2==2.6.1
py>=1.4.29
pyenchant>=1.6
pytest-cov>=1.8.1
pytest>=2.8.0
SQLAlchemy==1.0.12
tabulate>=0.7.5
